.figure-container{
    display: grid;
    padding: 50px;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    
}

.caption{
    padding: 60px;
}