.card-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.body-container{
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}